<% if sign_in? %>
	<div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
	<% provide(:title, "Home") %>
<div class="center hero-unit">
  <h1>Sample Application</h1>

  <h2>
    This is the home page sample application similar to Twitter
  </h2>
  <h2><b>Author: Daniel Suszek</b></h2> 
  <h5> following by Michael Hartl <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Rails Tutorial</a></h5>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  
</div>

	<%= link_to image_tag("logo.jpeg", alt: "Rails"), 'http://rubyonrails.org/', id: "logo" %>

<% end %>